<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="chapters.layouts.SpringBootJSON">
				<application>angularjs-2-springboot-poc</application>
			</layout>
		</encoder>
	</appender>
	
	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>